name: "coverage"
on:
  pull_request:
    branches:
      - main
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: bahmutov/npm-install@v1
      - name: Create env file
        run: |
          touch .env
          echo TMDB_API_KEY=${{ secrets.TMDB_API_KEY }} >> .env
          echo TMDB_API_PROXY_URL="http://localhost:3000/" >> .env
      - uses: ArtiomTr/jest-coverage-report-action@v2.0-rc.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          #threshold: 80 # optional parameter
